*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #f6f2ec;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* header */

.header {
  width: 100vw;
  height: 150px;
  background: linear-gradient(to right, #d2c3d8, 75%, #f3dadb);
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-top: 25px;
  z-index: 999;
}

.link {
  text-decoration: none;
}

.header-items {
  margin-left: 15vw;
  display: flex;
}

.header-item {
  margin-left: 15vw;
  margin-top: 25px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 50px;
  margin: auto;
}

.inline {
  display: inline-block;
}

.header-item:hover {
  color: red;
  border-bottom: solid #000;
}

/* sidebar button */

.menu-button {
  cursor: pointer;
  position: absolute;
  background: transparent;
  border: 2px solid var(--button-color);
  border-radius: 0.5rem;
  margin-left: 10vw;
  --button-color: #f6f2ec;
}

/* sidebar */

.menu {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  top: 100px;
  left: 0px;
  width: 25vw;
  height: 100vh;
  background: linear-gradient(to bottom, #d2c3d8, 50%, #f3dadb);
  z-index: 999;
  transform-origin: center top;
}

.menu-item {
  height: 100px;
  width: 100%;
  position: relative;
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 35%;
  padding-top: 40px;
  padding-bottom: auto;
  background: rgba(100, 100, 100, 0.2);
}

.menu-item:hover {
  color: white;
  background: linear-gradient(to right, #8026a3, 50%, #e02329);
}

/* Menu Transition Animation */

.menu-slide-enter-active {
  transition: all 0.25s ease-in-out;
}

.menu-slide-leave-active {
  transition: all 0.25s ease-in-out;
}

.menu-slide-enter-from,
.menu-slide-leave-to {
  transform: scaleY(0);
  opacity: 0;
}

/* Show/Hide Responsive elements */
/* Disabled while dev */

/* @media (max-width: 850px) {
  .header-items {
    display: none;
  }
}

@media (min-width: 850px) {
  .menu-button {
    display: none;
  }
  .menu {
    display: none;
  }
} */
